<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<Sites>
		<add SiteName="GHSAgenda" SiteId="64c6e02d-898f-40eb-9b52-45b89d6413a3" />
	</Sites>
</analyticsConfig>