<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<notifications newPostNotificationTemplateId="a812f01f-bc08-6108-88d6-ff0000868acd" newThreadNotificationTemplateId="a912f01f-bc08-6108-88d6-ff0000868acd" />
</forumsConfig>