<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0" projectName="GHSAgenda" dateCreated="2016-01-15 15:53:25Z">
	<defaultSite id="64c6e02d-898f-40eb-9b52-45b89d6413a3" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="6224f01f-bc08-6108-88d6-ff0000868acd" />
</projectConfig>